:root {
    --navy: #000224;
    --dark-blue: #000330;
    --transparent-blue: #141631;
    --transparent-dark-blue: rgba(0, 3, 48, 0.71);
    --gray: #505147;
    --light-gray: #d2d2d2;
    --gray-secondary: #686a5a;
    --transparent-gray: rgba(80, 81, 71, 0.67);
}

body {
    background-color: var(--navy);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
body,
html {
    overflow-x: hidden;
}
html.open,
body.open,
html.init,
body.init {
    overflow: hidden;
}
.bg-navy {
    background-color: var(--navy);
}
.bg-dark-blue {
    background-color: var(--dark-blue);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-gray-secondary {
    background-color: var(--gray-secondary);
}
.bg-light-gray {
    background-color: var(--light-gray);
}
.bg-transparent-blue {
    background-color: var(--transparent-blue);
}
.bg-transparent-gray {
    background-color: var(--transparent-gray);
}
.bg-transparent-dark-blue {
    background-color: var(--transparent-dark-blue);
}
.text-white-05 {
    color: rgba(255,255,255, 0.5);
}
p {
    font-size: 14px;
}
.block {
    padding-top: 25px;
    padding-bottom: 25px;
}
.main-navigation {
    padding: 39px 0;
    z-index: 2;
}
.menu-navigation {
    padding: 272px 72px 0 263px;
    flex: 1;
}
.menu-share {
    padding: 0 72px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.menu {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    flex-direction: column;
    display: flex;
}
.menu-list li {
    margin: 15px 0;
}
.menu-list a {
    font-size: 40px;
    font-weight: 800;
    line-height: 0.8;
    letter-spacing: 0.96px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.menu-list .current_page_item a:before {
    background-color: rgba(104, 106, 90, 0.46);
    position: absolute;
    left: 0;
    top: 25px;
    content: "";
    height: 11px;
    width: 140%;
}
.menu-icon {
    height: 30px;
    width: 30px;
    z-index: 2;
    cursor: pointer;
}
body.open .menu-icon {
    margin-right: 15px;
}
.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 4px;
    transition: transform 0.2s ease, background-color 0.5s ease;
}
.menu-icon__line-left {
    width: 15px;
    display: none;
}
.menu-icon__line-right {
    width: 15px;
    float: right;
}
.menu:before,
.menu:after {
    content: "";
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 3, 48, 0.2);
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%);
}
.menu:after {
    background: var(--gray);
    transition-delay: 0s;
}
.menu:before {
    transition-delay: 0.1s;
}
body.open .menu-icon__line {
    transform: translateX(0px) rotate(-45deg);
}
body.open .menu-icon__line-left {
    display: flex;
    transform: translateX(1px) rotate(45deg);
}
body.open .menu-icon__line-right {
    transform: translateX(-2px) rotate(45deg);
}
.menu.open {
    visibility: visible;
    z-index: 1;
}
.menu.open:before,
.menu.open:after {
    transform: translateX(0%) translateY(0%);
}
.menu.open:after {
    transition-delay: 0.1s;
}
.menu.open:before {
    transition-delay: 0s;
}
.menu-navigation,
.menu-share {
    transition-delay: 0.8s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity 0.2s ease, transform 0.3s ease;
}
.menu.open .menu-navigation,
.menu.open .menu-share {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
.menu.open .menu-navigation {
    transition-delay: 0.8s;
}
.menu.open .menu-share {
    transition-delay: 1.4s;
}
.menu-share span {
    font-size: 30px;
    font-weight: bold;
    line-height: 2.2;
    margin-right: 15px;
}
.sub-menu {
    list-style: none;
    display: none;
    padding-left: 15px;
}
.sub-menu a {
    font-size: 20px;
    font-weight: 600;
    line-height: 2.2;
    position: relative;
}
.sub-menu li {
    margin: 0;
}
.sub-menu a:hover:after {
    content: "";
    background-image: url("assets/images/right-arrow.svg");
    position: absolute;
    right: -49px;
    top: 7px;
    width: 23px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
}
.hero-content {
    padding: 100px 0 150px;
}
.hero h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
}
.hero-info-box {
    padding: 30px 15px;
}
.hero-info-box a {
    font-size: 20px;
    line-height: 39px;
    font-weight: bold;
    text-decoration: none;
}
.custom-container {
    max-width: 100%;
}
.home-service {
    padding: 50px 0;
}
.meet-us-img {
    margin: 30px 0;
}
.home-service-box {
    padding: 20px 0;
}
.home-service-box h4 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    color: #FBFBFF;
    margin: 28px 0;
}
.home-service-box a {
    position: relative;
}
.home-service-box a:hover:before {
    position: absolute;
    content: "";
    background-image: url("assets/images/arrow-right.svg");
    width: 30px;
    height: 30px;
    right: -60px;
    top: -4px;
    background-size: contain;
}
.home-service p {
    margin: 23px 0;
}
.home-service-title {
    margin-bottom: 70px;
}
.home-service p,
.home-service a {
    line-height: 20px;
    color: #FBFBFF;
}
.home-service a {
    text-decoration: none;
    font-weight: bold;
}
.number {
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    color: #FBFBFF;
}
.hovered .number {
    -webkit-text-stroke:1px white;
    -webkit-text-fill-color:transparent;
}
.home-service-box-custom-width {
    max-width: 382px;
}

.loading-screen {
    position: relative;
    background-color: var(--gray);
    width: 100%;
    height: 100%;
    transform: scaleY(0) skewX(0);
    transform-origin: top left;
}
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}
.init-container {
    background-color: var(--gray);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(-100%);
    height: 100vh;
    transition: .3s ease-in-out;
    padding: 0 15px;
}
.init-container h1 {
    font-size: 50px;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
.init .init-container {
    transform: translateX(0);
}
.init-logo {
    position: absolute;
    top: 39px;
    left: 15px;
}

@keyframes slideInFromLeft {
    0% {
        transition-delay: 0.8s;
        opacity: 0;
        transform: translate(0%, 100%);
        transition: opacity 0.2s ease, transform 0.3s ease;
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
    }
}

.get-in-touch {
    transform: translateX(38px) rotateZ(-90deg);
    display: inline-block;
}
.get-in-touch a {
    text-decoration: none;
}
.menu .get-in-touch {
    transform: none;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
}
.menu .get-in-touch a {
    transform: translateX(-66px) rotateZ(-90deg);
    display: inline-block;
}
footer {
    padding: 50px 0;
}
footer p {
    line-height: 35px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer .footer-navigation a {
    line-height: 50px;
}
footer h6 {
    line-height: 50px;
    color: #9E9E9E;
}
footer h2 {
    font-size: 60px;
    line-height: 70px;
    -webkit-text-stroke:1px white;
    -webkit-text-fill-color:transparent;
}
.footer-email {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}
.address-info {
    margin-top: 20px;
}
.footer-copyright {
    margin-top: 50px;
}
.copyright {
    line-height: 32px;
    font-weight: 600;
    color: #686A5A;
}
.share-holder {
    width: 47px;
}
.case {
    padding: 50px 0;
}
.case p {
    line-height: 1.88;
    color: #fbfbff;
}
.case h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.25;
    display: flex;
    align-items: center;
    justify-content: center;
}
.case a {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.94;
    color: white;
    text-decoration: none;
}
.case-img {
    max-width: 100%;
    margin: 0 auto;
    display: inherit;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: auto 90%;
    padding: 50px 0;
}
.swiper-wrapper h3 {
    font-size: 40px;
    margin-bottom: 30px;
}
.swiper-wrapper a {
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 2.56;
    text-decoration: none;
}
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}
.swiper-pagination-bullet-active {
    background-color: var(--navy);
}
.swiper-button-next,
.swiper-button-prev {
    display: none;
}
.swiper-button-next:after {
    font-family: none;
    content: url("assets/images/slider-arrow-right.svg");
}
.swiper-button-prev:after {
    font-family: none;
    content: url("assets/images/slider-arrow-left.svg");
}
.legal-wrapper a {
    color: white;
}

/* Case study view */
.case-study-hero {
    padding: 50px 0;
}
.custom-wrapper {
    position: relative;
}
.case-study-wrapper h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 0.88;
    margin-bottom: 50px;
}
.case-study-wrapper h6,
.service-hero-content h6 {
    font-weight: normal;
}
.case-study-intro p,
.service-intro p {
    line-height: 1.47;
}
.app-img-wrapper {
    padding: 15px;
    background-color: #f8f7f5;
}
.use-case-img-holder {
    padding-top: 15px;
    padding-bottom: 15px;
}
.recommended-case-study {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.recommended-case-study h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 0.89;
}
.recommended-case-study a {
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 1.84;
    text-decoration: none;
}
.case-study-problem,
.case-study-solution,
.case-study-slider-wrapper,
.case-study-result {
    padding-top: 20px;
    padding-bottom: 20px;
}
.case-study-text-nav h2 {
    font-size: 50px;
    font-weight: bold;
    color: rgba(255,255,255, 0.05);
    line-height: 0.83;
    margin-bottom: 30px;
}
.custom-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.custom-link img {
    width: 30px;
}
.case-study-text-nav .line {
    background-color: white;
    height: 2px;
    width: 100%;
    margin-left: 30px;
}
.case-study-text-nav span {
    white-space: nowrap;
}
.case-study-problem p {
    line-height: 1.83;
}
.case-study-slide-item {
    padding: 15px;
    border-radius: 10px;
    margin: 0 15px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.case-study-slide-item img {
    display: inline-block !important;
}
.prev-arrow,
.next-arrow {
    cursor: pointer;
    position: absolute;
    bottom: -31px;
}
.prev-arrow {
    left: 175px;
}
.next-arrow {
    left: 215px;
}
.case-study-slide-caption {
    position: absolute;
    right: 15px;
    bottom: 0;
}
#background_animation {
    position: absolute;
    top: -13vh;
    right: -150px;
    z-index: -1;
}
/* end */

/* Service view */
.service-hero {
    padding: 50px 0;
    display: flex;
    align-items: center;
}
.service-hero h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.14;
    margin-bottom: 37px;
}
.service-hero p {
    font-size: 18px;
}
.btn-contact-us {
    font-size: 18px;
    font-weight: bold;
    border-radius: 0;
    background-color: var(--gray-secondary);
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    text-decoration: none !important;
}
.btn-contact-us:after {
    position: absolute;
    content: "";
    right: 0;
    top: 42%;
    background-image: url("assets/images/right-arrow-small.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 16px;
}
.service-intro ul {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 0;
}
.service-intro {
    counter-reset: section;
}
.service-intro ul li {
    margin: 20px 0;
    width: 100%;
    font-weight: 600;
    color: #fbfbff;
    line-height: 1.53;
    display: inline-block;
}
.service-intro ul li {
    counter-increment: section;
    position: relative;
}
.service-intro ul li:before {
    content: '0'counter(section);
    font-size: 16px;
    line-height: 3.5;
    color: #fbfbff;
    position: absolute;
    left: 0;
    font-weight: normal;
    top: -35px;
}
.content-number {
    font-size: 25px;
    font-weight: 800;
    line-height: 3.16;
}
.relation-number {
    line-height: 4.39;
    font-size: 18px;
    font-weight: 800;
}
.service-recommendation h2 {
    margin-bottom: 62px;
}
.service-impact {
    counter-reset: section;
}
.service-impact h2 {
    margin-bottom: 45px;
}
.service-impact h6 {
    font-size: 40px;
    color: rgba(255,255,255,0.05);
    line-height: 0.98;
}
.service-impact h6 .active {
    color: white;
}
.service-impact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.service-impact li {
    font-weight: 600;
    padding: 15px 0;
    margin: 20px 0;
    position: relative;
    counter-increment: section;
}
.service-impact li:before {
    content: '0'counter(section);
    font-size: 16px;
    line-height: 1.5;
    color: #fbfbff;
    position: absolute;
    left: 0;
    top: -10px;
    font-weight: bold;
}
.service-benefits h5 {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: normal;
}
.service-benefits h3 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 5px;
}
.service-benefits.view-2 h2 {
    margin-bottom: 35px;
}
.service-benefits.view-2 h4 {
    margin-bottom: 35px;
}
.service-benefits.view-2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.service-benefits.view-2 ul li {
    width: 100%;
    font-weight: 600;
    padding: 15px 0;
    border-bottom: 1px solid #505147;
    margin: 15px 0;
    counter-increment: section;
    position: relative;
}
.service-benefits.view-2 {
    counter-reset: section;
}
.service-benefits.view-2 ul li:before {
    content: '0'counter(section);
    font-size: 16px;
    line-height: 1.5;
    color: #fbfbff;
    position: absolute;
    left: 0;
    top: -7px;
    font-weight: bold;
}
.service-benefits-title {
    margin-bottom: 30px;
}
.service-benefits-title .line {
    background-color: white;
    width: 100%;
    height: 1px;
}
/* end */

/* Contact us */
.contact-us-intro {
    padding-top: 50px;
    font-size: 18px;
    color: var(--navy);
    line-height: 1.83;
    position: relative;
}
.contact-us-intro-bg h2 {
    opacity: 0.05;
    font-size: 150px;
    font-weight: bold;
    color: var(--navy);
}
.contact-us-intro p {
    font-size: 14px;
}
.contact-us-intro-bg {
    position: absolute;
    right: 0;
    left: -30px;
    bottom: 0;
    white-space: nowrap;
}
.contact-email {
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    color: var(--navy);
}
.contact-us-hero-content {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.contact-us-hero-content h1 {
    font-size: 50px;
}
.contact-us-hero-content p {
    color: #fbfbff;
}
.contact-us-office {
    padding-top: 50px;
    padding-bottom: 50px;
}
.office-box {
    width: calc(100vw - 24px);
    min-height: 250px;
    background-color: var(--navy);
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-size: cover;
}
.office-box p {
    opacity: 0.4;
}
.office-box h5 {
    font-size: 25px;
}
.office-box:hover p {
    opacity: 1;
}
.office-bg:before {
    background-color: rgba(0, 2, 36, 0.05);
    position: absolute;
    top: 45px;
    right: 0;
    left: -25px;
    bottom: 69px;
    content: "";
}
.contact-us-section-title {
    color: var(--navy);
    margin-bottom: 20px;
}
.contact-us-section-title h4 {
    font-size: 20px;
}
.contact-us-section-title p {
    margin-bottom: 50px;
}
/* end */

/* Career */
.career-hero {
    padding: 50px 0;
}
.career-hero h1 {
    font-size: 30px;
    font-weight: 600
}
.career-number {
    color: #fbfbff;
    font-weight: bold;
    line-height: 3.5;
}
.career-values {
    color: #fbfbff;
}
.career-values h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.26;
    margin-bottom: 30px;
}
.career-values br {
    display: none;
}
.section-title {
    margin-bottom: 50px;
}
.board-title {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.board-row {
    padding: 15px 0;
    border-top: 1px solid #505147;
}
.board-row:last-child {
    border-bottom: 1px solid #505147;
}
.board-row * {
    margin: 0;
}
.career-board,
.career-values,
.career-open-position,
.career-benefit {
    padding-top: 25px;
    padding-bottom: 25px;
}
.board-day p {
    white-space: nowrap;
}
.board-redirection-box {
    height: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.board-redirection-box .custom-link {
    font-size: 25px;
    font-weight: normal;
}
.board-redirection-box h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.88;
    color: #191b3a;
}
.career-job-box {
    padding: 30px 15px;
    background-color: var(--dark-blue);
}
.career-job-box:hover {
    background-color: var(--gray-secondary);
}
.career-job-box h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.career-job-box p,
.job-hero .career-job-box-small-title {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}
.career-job-box .career-job-box-small-title {
    color: var(--gray-secondary);
}
.career-job-box:hover * {
    color: white;
}
.career-open-position-section-title {
    margin-bottom: 30px;
    max-width: 568px;
}
.career-open-position-section-title h2 {
    line-height: 0.9;
}
.career-benefit-holder ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.career-benefit-holder ul li {
    border-bottom: 1px solid #505147;
    padding: 10px 0;
}
/* end */

/* Job */
.job-wrapper p {
    font-size: 14px;
    line-height: 1.67;
}
.job-wrapper .lead p,
.job-section-title {
    font-size: 14px;
    line-height: 1.47;
}
.job-wrapper .lead p br {
    display: none;
}
.job-wrapper li {
    list-style: none;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}
.job-wrapper li:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    left: -30px;
    content: "";
    top: 34%;
}
.job-holder {
    margin-bottom: 50px;
}
.border-top-line {
    border-top: 2px solid white;
    padding: 25px 0 0 0;
    margin: 25px 0 0 0;
}
.border-top-line h6 {
    margin-bottom: 20px;
}
.job-section-small-title {
    margin-bottom: 48px;
}
.job-hero {
    padding: 50px 0;
    display: flex;
    align-items: center;
}
.job-hero h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.65;
}
.job-hero .career-job-box-small-title {
    color: var(--gray-secondary);
}
.job-form {
    padding: 30px 15px;
    background-color: rgba(255,255,255,0.05);
}
.job-form h4 {
    font-size: 30px;
    font-weight: 600;
    color: var(--gray-secondary);
    margin-bottom: 25px;
}
.job-form p {
    font-size: 14px;
}
.form-holder .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--gray-secondary);
    padding-left: 0;
    background-color: transparent;
}
.form-holder {
    margin-top: 50px;
}
.form-holder label {
    font-size: 12px;
    line-height: 3.67;
}
.form-holder input {
    font-size: 14px;
    line-height: 1.47;
    color: white !important;
}
.form-holder input:focus,
.form-holder input:active {
    box-shadow: none;
}
.btn-apply {
    font-size: 18px;
    font-weight: bold;
    line-height: 2.17;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 0;
    background-color: var(--gray-secondary);
}
.btn-upload {
    width: 200px;
    height: 50px;
    border: 1px solid #505147;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    background-color: rgba(255,255,255,0.05);
    z-index: 1;
}
#upload_cv {
    visibility: hidden;
}
/* end */

/* Product */
.product-hero {
    padding: 50px 0;
    display: flex;
    align-items: center;
    position: relative;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}
.product-hero h1 {
    font-size: 50px;
}
.product-hero h2 {
    font-size: 30px;
}
.product-hero p {
    font-size: 18px;
}
.product-intro p {
    line-height: 1.47;
}
.product-intro p br,
.product-hero p br {
    display: none;
}
.product-features .number {
    font-size: 25px;
    margin-bottom: 23px;
}
.product-features h5 {
    font-weight: normal;
    margin-bottom: 16px;
}
.product-features-box {
    margin-bottom: 20px;
}
.product-request-form p br {
    display: none;
}
.product-features-title {
    margin-bottom: 50px;
}
.product-features-title h2 {
    margin-bottom: 38px;
    line-height: normal;
}
.product-request-form h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
}
.product-request-form-holder {
    padding: 15px;
}
.related-product h3 {
    color: var(--gray-secondary);
}
.related-product .related-link {
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-spotlight .number {
    font-size: 40px;
    margin-bottom: 5px;
    display: inline-block;
}
.product-spotlight-title,
.product-spotlight-box {
    margin-bottom: 20px;
}
.product-spotlight-box p {
    margin: 0;
}
.text-nav-subtitle {
    position: absolute;
    bottom: 0;
    left: 5px;
}
.btn-demo {
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    background-color: var(--gray-secondary);
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}
.btn-demo:after {
    position: absolute;
    content: "";
    right: 20px;
    top: 42%;
    background-image: url("assets/images/right-arrow-small.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 16px;
}
.product-values h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 40px;
}
.product-values .number {
    font-size: 25px;
    display: inline-block;
    margin-bottom: 18px;
    line-height: normal;
}
.product-values p {
    line-height: 1.6;
    margin-bottom: 28px;
}
.product-values-box {
    margin-bottom: 20px;
    border-bottom: 1px solid #505147;
}
.product-story-item {
    padding: 15px;
}
.product-story-item h3 {
    font-size: 30px;
    font-weight: 600;
}
.product-stories-title h2 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}
.product-stories-title p {
    font-weight: 600;
    line-height: 1.78;
}
.product-stories-slider {
    margin-top: 76px;
}
.product-story-item.slick-active.slick-current {
    background-color: var(--transparent-blue);
}
.product-spotlight-title h2 {
    line-height: normal;
}
.product-item {
    padding: 15px;
    margin: 0 5px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product-item img {
    display: inline-block !important;
}
.item-caption {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.item-caption p {
    margin: 0;
}
.product-app-example {
    position: relative;
}
.product-app-example:before {
    background-color: var(--transparent-blue);
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
    bottom: 31%;
}
/* end */

/* About */
.about-hero {
    padding: 50px 0;
}
.about-hero h1 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 100px;
    line-height: 0.99;
}
.about-people {
    background-image: url('assets/images/WBS.png');
    background-position-x: left;
    background-size: cover;
    padding: 50px 0;
}
.about-team,
.about-company {
    padding: 50px 0;
}
.about-company h2 {
    margin-bottom: 47px;
}
.about-company .about-company-more {
    margin-top: 100px;
}
.about-company .about-company-more a {
    font-size: 18px;
}
.about-company .about-company-more a img {
    margin-left: 30px;
}
.about-career {
    padding: 30px 0;
    background-color: rgba(104, 106, 90, 0.08);
}
/* end */

@media screen and (min-width: 568px) {
    .office-box {
        width: calc((100vw / 2) - 24px);
        height: calc((100vw / 2) - 24px);
    }
}
@media screen and (min-width: 768px) {
    .career-job-box p,
    .job-hero .career-job-box-small-title,
    .job-wrapper p,
    .job-wrapper .lead p,
    .job-section-title,
    .job-wrapper li,
    .job-form p,
    .contact-us-intro p {
        font-size: 16px;
    }
    .board-redirection-box {
        height: 260px;
        justify-content: center;
    }
    .product-intro p br,
    .product-hero p br {
        display: block;
    }
    .product-values-box {
        max-width: 260px;
    }
    .recommended-case-study h2 {
        font-size: 80px;
    }
    .recommended-case-study {
        height: 500px;
        background-position: 90% center;
        background-size: 430px;
    }
    .service-benefits.view-2 ul li {
        width: 48.5%;
        padding: 20px 0;
        margin: 15px 15px 15px 0;
    }
    .service-benefits.view-2 ul li:nth-child(2n) {
        margin-right: 0;
    }
    .service-intro ul li {
        width: 48%;
    }
    .service-intro ul {
        margin-top: 70px;
    }
    .about-company .about-company-more a {
        margin-right: 100px;
    }
    .swiper-slide {
        background-position: 92% center;
    }
    .use-case-img-holder {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media screen and (min-width: 992px) {
    .swiper-wrapper h3,
    .job-hero h1 {
        font-size: 50px;
    }
    p {
        font-size: 16px;
    }
    .hero-title {
        margin-left: 50px;
    }
    .hero-info-box {
        padding: 30px 65px;
    }
    .init-container h1 {
        font-size: 100px;
    }
    .career-open-position-section-title {
        margin-bottom: 106px;
    }
    .case-study-text-nav h2 {
        font-size: 75px;
        line-height: 90px;
    }
    .board-title {
        font-size: 40px;
    }
    .career-board,
    .career-values,
    .career-open-position,
    .career-benefit {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .board-row {
        padding: 30px 15px;
    }
    .career-hero h1 {
        font-size: 40px;
    }
    .job-wrapper .lead p,
    .job-section-title {
        font-size: 21px;
    }
    .job-wrapper li {
        font-size: 18px;
        line-height: 2.17;
    }
    .job-wrapper p,
    .contact-us-intro p {
        font-size: 18px;
    }
    .border-top-line {
        padding: 55px 0;
        margin: 55px 0;
    }
    .contact-us-section-title {
        margin-bottom: 60px;
    }
    .footer-copyright {
        margin-top: 100px;
    }
    .address-info {
        margin-top: 65px;
    }
    footer {
        padding: 100px 0;
    }
    .product-spotlight-title,
    .product-spotlight-box,
    .product-features-box {
        margin-bottom: 50px;
    }
    .product-features-box {
        max-width: 400px;
    }
    .block {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .product-request-form-holder {
        padding: 50px;
    }
    .product-request-form p {
        font-size: 18px;
    }
    .btn-demo {
        font-size: 18px;
        width: 351px;
        height: 84px;
    }
    .btn-demo:after {
        top: 44%;
    }
    .product-spotlight .number {
        margin-bottom: 28px;
    }
    .product-spotlight-box {
        max-width: 260px;
    }
    .product-story-item {
        margin: 0 25px;
    }
    .product-story-item {
        padding: 50px;
    }
    .service-benefits-title {
        margin-bottom: 70px;
    }
    .recommended-case-study {
        height: 700px;
        background-size: 630px;
    }
    .about-career {
        height: 430px;
        padding: 0;
    }
}
@media screen and (min-width: 1200px) {
    .product-item {
        padding: 46px 106px;
        margin: 0 25px;
    }
    .case-study-slide-item {
        margin: 0 25px;
        padding: 70px 150px;
    }
    .case-study-slide-caption {
        position: absolute;
        right: 95px;
        bottom: 35px;
    }
    .hero-gif {
        background-image: url("assets/images/oip.gif");
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
    }
    .product-hero,
    .service-hero,
    .career-hero,
    .job-hero,
    .case-study-hero {
        padding: 0;
        min-height: 100vh;
    }
    header {
        position: absolute;
        right: 0;
        left: 0;
    }
    .service-impact h6 {
        font-size: 100px;
    }
    .service-benefits.view-2 ul li {
        width: 32%;
        margin: 15px 15px 15px 0;
    }
    .service-benefits.view-2 ul li:nth-child(2n) {
        margin-right: 15px !important;
    }
    .service-benefits.view-2 ul li:nth-child(3n) {
        margin-right: 0;
    }
    .office-box {
        padding: 80px 67px;
    }
    .office-box h5 {
        font-size: 35px;
    }
    .about-hero {
        margin: 250px 0 150px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
    .swiper-button-prev {
        bottom: 63px;
        top: auto;
        left: 15px;
    }
    .swiper-button-next {
        bottom: 63px;
        top: auto;
        left: 90px;
    }
    .swiper-slide {
        padding: 170px 0;
    }
    .case-study-intro {
        padding: 190px 0;
    }
    .case-study-wrapper h1 {
        margin-bottom: 160px;
    }
}
@media screen and (min-width: 1367px) {
    .service-impact p,
    .product-story-item p,
    .job-form p,
    .service-benefits-title p,
    .product-stories-title p,
    .about-company p,
    .case-study-problem p,
    .board-redirection-box p {
        font-size: 18px;
    }
    .service-benefits.view-2 ul li {
        font-size: 20px;
    }
    .career-job-box p,
    .job-hero .career-job-box-small-title {
        font-size: 21px;
    }
    .hero-info-box a {
        font-size: 25px;
    }
    .job-wrapper .lead p,
    .product-intro p,
    .case-study-intro p,
    .service-intro p,
    .service-benefits.view-2 p,
    .meet-us .lead,
    .job-section-title,
    .contact-us-section-title h4,
    .service-benefits.view-2 h4,
    .service-impact li,
    .service-intro ul li,
    .form-holder input {
        font-size: 30px;
    }
    .career-values h4 {
        font-size: 35px;
    }
    .board-redirection-box .custom-link,
    .service-hero h3,
    .board-redirection-box h3,
    .about-career h3,
    .about-company h2,
    .footer-email {
        font-size: 40px;
    }
    .case h4,
    .job-form h4,
    .product-hero h2,
    .product-request-form h2,
    .service-impact h2,
    .product-stories-title h2,
    .product-values h2,
    .service-benefits.view-2 h2,
    .product-story-item h3,
    .career-job-box h3,
    .career-hero h1 {
        font-size: 60px;
    }
    .number,
    .job-hero h1 {
        font-size: 80px;
    }
    .hero h1,
    .service-hero h1,
    footer h2 {
        font-size: 100px;
    }
    .contact-email,
    .case-study-text-nav h2,
    .recommended-case-study h2 {
        font-size: 120px;
    }
    .contact-us-hero-content h1,
    .product-hero h1,
    .about-hero h1,
    .case-study-wrapper h1,
    .init-container h1 {
        font-size: 150px;
    }
    .custom-container {
        max-width: 87.3%;
    }
    .hero-title,
    .copyright-text {
        margin-left: 120px;
    }
    .case-holder {
        padding-right: 80px;
    }
    .hero h1 {
        line-height: 114px;
    }
    .hero-info-box {
        padding: 87px 65px;
    }
    .hero-content {
        padding: 205px 72px 176px;
    }
    footer h2 {
        line-height: 109px;
    }
    .footer-email {
        margin-top: 40px;
    }
    .footer-copyright {
        margin-top: 170px;
    }
    .home-service-box h4 {
        font-size: 35px;
        line-height: 46px;
    }
    .home-service p,
    .home-service a {
        line-height: 30px;
    }
    .home-service-box {
        padding: 80px 0;
    }
    .home-service {
        padding:203px 0 146px 0;
    }

    .career-values br,
    .job-wrapper .lead p br {
        display: block;
    }
    .career-values {
        padding-top: 100px;
        padding-bottom: 250px;
    }
    .career-benefit,
    .career-board,
    .case-study-problem,
    .case-study-solution,
    .case-study-result,
    .use-case-img-holder {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .case-study-slider-wrapper {
        padding-top: 80px;
        padding-bottom: 150px;
    }
    .case-study-problem-divider {
        margin-bottom: 228px;
    }
    .board-row {
        padding: 75px 112px;
    }
    .career-job-box {
        padding: 81px;
    }
    .career-job-box h3 {
        margin-bottom: 33px;
    }
    .career-open-position {
        padding-top: 30px;
        padding-bottom: 245px;
    }
    .board-title {
        margin-bottom: 106px;
    }
    .board-redirection-box {
        height: 430px;
        padding: 0 135px;
    }
    .career-benefit-holder ul {
        column-count: 2;
    }
    .job-holder {
        margin-bottom: 140px;
    }
    .job-form {
        padding: 160px 280px;
    }
    .btn-apply {
        width: 281px;
        height: 84px;
    }
    .btn-upload {
        width: 450px;
        height: 84px;
    }
    .office-box {
        width: 563px;
        height: 563px;
    }
    .contact-us-intro {
        padding-top: 180px;
    }
    .contact-us-office {
        padding-top: 180px;
        padding-bottom: 144px;
    }
    .contact-us-intro-bg {
        left: -150px;
    }
    .contact-us-intro-bg h2 {
        font-size: 350px;
    }
    .block {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .product-features-title {
        margin-bottom: 105px;
    }
    .product-features-box {
        margin-bottom: 120px;
    }
    .product-request-form {
        padding-left: 152px;
        padding-right: 152px;
    }
    .product-request-form-holder {
        padding: 128px;
    }
    .product-request-form p br {
        display: block;
    }
    .product-spotlight-title,
    .product-spotlight-box {
        margin-bottom: 80px;
    }
    .text-nav-subtitle {
        bottom: -18px;
    }
    .product-values p {
        font-size: 20px;
    }
    .product-values-box {
        margin-bottom: 115px;
    }
    .product-values h2 {
        margin-bottom: 115px;
    }
    .product-story-item {
        padding: 184px 142px;
    }
    .product-story-item p {
        line-height: 1.78;
    }
    .product-stories-title h2 {
        margin-bottom: 56px;
    }
    .prev-arrow {
        left: 265px;
    }
    .next-arrow {
        left: 300px;
    }
    .product-app-example {
        margin-top: 150px;
    }
    .btn-contact-us {
        width: 281px;
        height: 84px;
    }
    .btn-contact-us:after {
        right: 20px;
        top: 44%;
    }
    .service-benefits-title {
        margin-bottom: 150px;
    }
    .service-benefits h3 {
        margin-bottom: 23px;
    }
    .service-impact li {
        margin: 36px 0;
    }
    .service-impact li:before {
        line-height: 3.5;
        top: -35px;
    }
    .recommended-case-study {
        height: 100vh;
        background-position: 90% center;
        background-size: calc(100vh - 150px);
    }
    .service-benefits.view-2 ul li:before {
        line-height: 3.5;
        top: -35px;
    }
    .about-company {
        padding-top: 220px;
        padding-bottom: 130px;
    }
    .home-service .lead {
        font-size: 35px;
        line-height: 1.6;
    }
    .meet-us-img {
        margin: 90px 0;
    }
    .custom-link {
        font-size: 50px;
    }
    .custom-link img {
        width: auto;
    }
}
@media screen and (min-width: 1537px) {
    .custom-wrapper {
        padding-left: 263px;
        padding-right: 263px;
    }
    .custom-padding {
        padding-left: 263px !important;
        padding-right: 72px !important;
    }
    .service-recommendation .recommended-case-study {
        padding: 0 150px;
    }
    .service-benefits.view-2 ul li:nth-child(4n) {
        margin-right: 0;
    }
    .service-benefits.view-2 ul li {
        width: 260px;
        padding: 20px 0;
        margin: 30px 150px 30px 0 !important;
    }
    .service-benefits.view-2 ul li:nth-child(2n) {
        margin-right: 150px !important;
    }
    .service-benefits.view-2 ul li:nth-child(4n) {
        margin-right: 0 !important;
    }
    .main-navigation {
        padding: 39px 72px;
    }
    .footer-copyright {
        padding: 0 72px;
    }
    .init-logo {
        left: 87px;
    }
    .about-people,
    .about-team {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .swiper-wrapper h3 {
        font-size: 100px;
    }
    .swiper-button-prev {
        left: 278px;
    }
    .swiper-button-next {
        left: 350px;
    }
    .swiper-slide {
        min-height: 100vh;
    }
    footer {
        padding: 290px 0 134px;
    }
    .case {
        padding: 245px 0;
    }
    .meet-us {
        padding-top: 80px;
        padding-bottom: 185px;
    }
    .app-img-wrapper {
        padding: 150px;
    }
}
