:root {
    --navy: #000224;
    --dark-blue: #000330;
    --transparent-blue: #141631;
    --gray: #505147;
    --light-gray: #d2d2d2;
    --gray-secondary: #686a5a;
}

body {
    background-color: var(--navy);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
body,
html {
    overflow-x: hidden;
}
html.open,
body.open,
html.init,
body.init {
    overflow: hidden;
}
.bg-dark-blue {
    background-color: var(--dark-blue);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-gray-secondary {
    background-color: var(--gray-secondary);
}
.bg-light-gray {
    background-color: var(--light-gray);
}
.bg-transparent-blue {
    background-color: var(--transparent-blue);
}
p {
    font-size: 14px;
}

.main-navigation {
    padding: 39px 0;
    z-index: 2;
}
.menu-navigation {
    padding: 272px 72px 0 263px;
    flex: 1;
}
.menu-share {
    padding: 0 72px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.menu {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    flex-direction: column;
    display: flex;
}
.menu-list li {
    margin: 15px 0;
}
.menu-list a {
    font-size: 40px;
    font-weight: 800;
    line-height: 0.8;
    letter-spacing: 0.96px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.menu-list .active a:before {
    background-color: rgba(104, 106, 90, 0.46);
    position: absolute;
    left: 0;
    top: 25px;
    content: "";
    height: 11px;
    width: 140%;
}
.menu-icon {
    height: 30px;
    width: 30px;
    z-index: 2;
    cursor: pointer;
}
body.open .menu-icon {
    margin-right: 15px;
}
.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 4px;
    transition: transform 0.2s ease, background-color 0.5s ease;
}
.menu-icon__line-left {
    width: 15px;
    display: none;
}
.menu-icon__line-right {
    width: 15px;
    float: right;
}
.menu:before,
.menu:after {
    content: "";
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 3, 48, 0.2);
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%);
}
.menu:after {
    background: var(--gray);
    transition-delay: 0s;
}
.menu:before {
    transition-delay: 0.1s;
}
body.open .menu-icon__line {
    transform: translateX(0px) rotate(-45deg);
}
body.open .menu-icon__line-left {
    display: flex;
    transform: translateX(1px) rotate(45deg);
}
body.open .menu-icon__line-right {
    transform: translateX(-2px) rotate(45deg);
}
.menu.open {
    visibility: visible;
    z-index: 1;
}
.menu.open:before,
.menu.open:after {
    transform: translateX(0%) translateY(0%);
}
.menu.open:after {
    transition-delay: 0.1s;
}
.menu.open:before {
    transition-delay: 0s;
}
.menu-navigation,
.menu-share {
    transition-delay: 0.8s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity 0.2s ease, transform 0.3s ease;
}
.menu.open .menu-navigation,
.menu.open .menu-share {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
.menu.open .menu-navigation {
    transition-delay: 0.8s;
}
.menu.open .menu-share {
    transition-delay: 1.4s;
}
.menu-share span {
    font-size: 30px;
    font-weight: bold;
    line-height: 2.2;
    margin-right: 15px;
}
.sub-menu {
    display: none;
    padding-left: 15px;
}
.sub-menu a {
    font-size: 20px;
    font-weight: 600;
    line-height: 2.2;
    position: relative;
}
.sub-menu li {
    margin: 0;
}
.sub-menu a:hover:before {
    content: "";
    background-image: url("assets/images/right-arrow.svg");
    position: absolute;
    right: -49px;
    top: 7px;
    width: 23px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
}
.hero-content {
    padding: 100px 0 150px;
}
.hero h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
}
.hero-info-box {
    padding: 30px 15px;
}
.hero-info-box a {
    font-size: 20px;
    line-height: 39px;
    font-weight: bold;
    text-decoration: none;
}
.custom-container {
    max-width: 100%;
}
.what-we-do {
    padding:50px 0;
}
/*.custom-padding {*/
/*    padding-left: 263px !important;*/
/*    padding-right: 72px !important;*/
/*}*/
.what-we-do-box {
    padding: 20px 0;
}
.what-we-do-box h4 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    color: #FBFBFF;
    margin: 28px 0;
}
.what-we-do-box a {
    position: relative;
}
.what-we-do-box a:hover:before {
    position: absolute;
    content: "";
    background-image: url("assets/images/arrow-right.svg");
    width: 30px;
    height: 30px;
    right: -60px;
    top: -4px;
    background-size: contain;
}
.what-we-do p {
    margin: 23px 0;
}
.what-we-do p,
.what-we-do a {
    line-height: 20px;
    color: #FBFBFF;
}
.what-we-do a {
    text-decoration: none;
    font-weight: bold;
}
.number {
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    color: #FBFBFF;
}
.hovered .number {
    -webkit-text-stroke:1px white;
    -webkit-text-fill-color:transparent;
}
.what-we-do-box-custom-width {
    max-width: 382px;
}

.loading-screen {
    position: relative;
    background-color: var(--gray);
    width: 100%;
    height: 100%;
    transform: scaleY(0) skewX(0);
    transform-origin: top left;
}
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}
.init-container {
    background-color: var(--gray);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(-100%);
    height: 100vh;
    transition: .3s ease-in-out;
}
.init-container h1 {
    font-size: 150px;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
.init .init-container {
    transform: translateX(0);
}
.init-logo {
    position: absolute;
    top: 39px;
    left: 87px;
}

@keyframes slideInFromLeft {
    0% {
        transition-delay: 0.8s;
        opacity: 0;
        transform: translate(0%, 100%);
        transition: opacity 0.2s ease, transform 0.3s ease;
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
    }
}

.get-in-touch {
    transform: translateX(38px) rotateZ(-90deg);
    display: inline-block;
}
.get-in-touch a {
    text-decoration: none;
}
.menu .get-in-touch {
    transform: none;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
}
.menu .get-in-touch a {
    transform: translateX(-66px) rotateZ(-90deg);
    display: inline-block;
}
footer {
    padding: 100px 0;
}
footer p {
    line-height: 35px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer .footer-navigation a {
    line-height: 50px;
}
footer h6 {
    line-height: 50px;
    color: #9E9E9E;
}
footer h2 {
    font-size: 60px;
    line-height: 70px;
    -webkit-text-stroke:1px white;
    -webkit-text-fill-color:transparent;
}
.footer-email {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}
.address-info {
    margin-top: 65px;
}
.footer-copyright {
    margin-top: 100px;
}
.copyright {
    line-height: 32px;
    font-weight: 600;
    color: #686A5A;
}
.share-holder {
    width: 47px;
}
.case {
    padding: 50px 0;
}
.case p {
    line-height: 1.88;
    color: #fbfbff;
}
.case h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.25;
}
.case a {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.94;
    color: white;
    text-decoration: none;
}
.case-img {
    max-width: 100%;
    margin: 0 auto;
    display: inherit;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-color: var(--gray-secondary);
    padding: 50px 0;
}
.swiper-wrapper h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}
.swiper-wrapper a {
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 2.56;
    text-decoration: none;
}
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}
.swiper-pagination-bullet-active {
    background-color: var(--navy);
}
.legal-wrapper a {
    color: white;
}

/* Case study view */
.case-study-wrapper,
.service-wrapper {
    padding: 0 278px;
}
.case-study-wrapper h1 {
    font-weight: bold;
    font-size: 150px;
    line-height: 0.88;
    margin-bottom: 160px;
}
.case-study-wrapper h6,
.service-wrapper h6 {
    font-weight: normal;
}
.case-study-intro {
    padding: 190px 0;
}
.case-study-intro p,
.service-intro p{
    font-size: 30px;
    line-height: 1.47;
}
.app-img-wrapper {
    padding: 150px;
    background-color: #f8f7f5;
}
.use-case-img-holder {
    padding-top: 50px;
    padding-bottom: 50px;
}
.recommended-case-study {
    height: 100vh;
}
.recommended-case-study h2 {
    font-size: 120px;
    font-weight: 600;
    line-height: 0.89;
}
.recommended-case-study a {
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 1.84;
    text-decoration: none;
}
.case-study-problem,
.case-study-solution,
.case-study-result {
    padding-top: 150px;
    padding-bottom: 150px;
}
.case-study-slider-wrapper {
    padding-top: 80px;
    padding-bottom: 150px;
}
.case-study-text-nav h2 {
    font-size: 120px;
    font-weight: bold;
    color: rgba(255,255,255, 0.05);
    line-height: 0.83;
    margin-bottom: 30px;
}
.custom-link {
    font-size: 50px;
    color: white;
    text-decoration: none;
}
.case-study-text-nav .line {
    background-color: white;
    height: 2px;
    width: 100%;
    margin-left: 30px;
}
.case-study-text-nav span {
    white-space: nowrap;
}
.case-study-problem p {
    line-height: 1.83;
    font-size: 18px;
}
.case-study-problem-divider {
    margin-bottom: 228px;
}
.case-study-slide-item {
    padding: 70px 150px;
    margin: 0 25px;
    border-radius: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.case-study-slide-item img {
    display: inline-block !important;
}
.prev-arrow,
.next-arrow {
    cursor: pointer;
    position: absolute;
    bottom: -31px;
}
.prev-arrow {
    left: 14.5%;
}
.next-arrow {
    left: 16.5%;
}
.case-study-slide-caption {
    position: absolute;
    right: 95px;
    bottom: 35px;
}
.service-recommendation .recommended-case-study {
    padding: 0 150px;
}
#background_animation {
    position: absolute;
    top: 0;
    right: -150px;
    z-index: -1;
}
/* end */

/* Service view */
.service-wrapper h1 {
    font-size: 100px;
    font-weight: bold;
    line-height: 1.14;
    margin-bottom: 102px;
}
.service-intro {
    padding: 120px 0 217px;
}
.contact-us-link {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-top: 44px;
    display: inline-block;
}
.service-content {
    padding-bottom: 286px;
}
.service-content-holder {
    padding: 80px 0;
}
.content-number {
    font-size: 25px;
    font-weight: 800;
    line-height: 3.16;
}
.service-content-holder p {
    font-size: 20px;
    line-height: 1.6;
}
.relation-number {
    line-height: 4.39;
    font-size: 18px;
    font-weight: 800;
}
.service-recommendation h2 {
    margin-bottom: 62px;
}
/* end */

/* Contact us */
.contact-us-intro {
    padding-top: 180px;
    padding-bottom: 180px;
    font-size: 18px;
    color: var(--navy);
    line-height: 1.83;
    position: relative;
}
.contact-us-intro-bg h2 {
    opacity: 0.05;
    font-size: 350px;
    font-weight: bold;
    color: var(--navy);
}
.contact-us-intro-bg {
    position: absolute;
    right: 0;
    left: -150px;
    bottom: 0;
    white-space: nowrap;
}
.contact-email {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    color: var(--navy);
}
.contact-us-hero-content {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.contact-us-hero-content h1 {
    font-size: 150px;
}
.contact-us-hero-content p {
    color: #fbfbff;
}
.contact-us-office {
    padding-top: 144px;
    padding-bottom: 144px;
}
.office-box {
    width: 563px;
    height: 563px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 2, 36, 0.2);
    background-blend-mode: multiply;
    padding: 80px 67px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.office-box h5 {
    font-size: 35px;
    font-weight: bold;
}
.office-box:hover {
    background-color: rgba(0, 2, 36, 0.8);
}
.office-bg:before {
    background-color: rgba(0, 2, 36, 0.05);
    position: absolute;
    top: 45px;
    right: 0;
    left: -25px;
    bottom: 69px;
    content: "";
}
/* end */

@media screen and (min-width: 992px) {
    .swiper-wrapper h3 {
        font-size: 50px;
    }
    p {
        font-size: 16px;
    }
    .hero-title {
        margin-left: 50px;
    }
    .hero-info-box {
        padding: 30px 65px;
    }
}
@media screen and (min-width: 1367px) {
    .custom-container {
        max-width: 87.3%;
    }
    .case h4 {
        font-size: 60px;
    }
    .hero-title,
    .copyright-text {
        margin-left: 120px;
    }
    .custom-padding {
        padding-left: 263px !important;
        padding-right: 72px !important;
    }
    .case-holder {
        padding-right: 80px;
    }
    .case {
        padding: 245px 0;
    }
    .swiper-wrapper h3 {
        font-size: 100px;
    }
    .swiper-slide {
        padding: 170px 0;
    }
    .hero h1 {
        font-size: 100px;
        line-height: 114px;
    }
    .hero-info-box {
        padding: 87px 65px;
    }
    .hero-content {
        padding: 205px 72px 176px;
    }
    .main-navigation {
        padding: 39px 72px;
    }
    .hero-info-box a {
        font-size: 25px;
    }
    .footer-copyright {
        padding: 0 72px;
    }
    footer h2 {
        font-size: 100px;
        line-height: 109px;
    }
    .footer-email {
        font-size: 40px;
        margin-top: 40px;
    }
    .footer-copyright {
        margin-top: 170px;
    }
    footer {
        padding: 290px 0 134px;
    }
    .what-we-do-box h4 {
        font-size: 35px;
        line-height: 46px;
    }
    .what-we-do p,
    .what-we-do a {
        line-height: 30px;
    }
    .what-we-do-box {
        padding: 80px 0;
    }
    .what-we-do {
        padding:203px 0 146px 0;
    }
    .number {
        font-size: 80px;
    }
    .use-case-img-holder {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
